@charset "UTF-8";

body{
	font-family: Arial, Helvetica, sans-serif;
}

table{
	width: 500px;
	border-collapse: collapse;
	position: relative;
}

td, th{
	border: 1px solid black;
	padding: 10px;
}

thead, tfoot{
	background-color: gray;
	color: white;
}

/* abaixo fixa o cabeçalho da tabela, para isso deve setar a tabela com position:relative*/
thead > tr > th{
	position: sticky;
	top: -1px;
	background-color: gray;
}

tbody > tr:nth-child(2n){ /* deixar tabela zebrada link da aula: https://www.youtube.com/watch?v=IYUiFRE5hpI*/
	background-color: lightgray;
}

/* hover na linha que o mouse está em cima*/
tbody tr:hover{
	background-color: beige;
}

.num{
	text-align: right;
}

caption{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	background-color: lightgrey;
}