@charset "UTF-8";

body{
	font-family: Arial, Helvetica, sans-serif;
}

table{
	width: 500px;
	border-collapse: collapse;
}

td, th{
	border: 1px solid black;
	padding: 10px;
}

thead, tfoot{
	background-color: gray;
	color: white;
}

tbody > tr:nth-child(2n){ /* deixar tabela zebrada link da aula: https://www.youtube.com/watch?v=IYUiFRE5hpI*/
	background-color: lightgray;
}

.num{
	text-align: right;
}

caption{
	font-size: 1.5em;
	font-weight: bold;
	padding: 10px;
	background-color: lightgrey;
}